*.pyc
*.log
__pycache__/
geofence_dataFiles_test/
*.csv
*.html
*.RData
*.Rhistory
*.pdf
metastore_db/
*.ipynb
*.rds
figures/
.vscode/
.pytest_cache/

*.coverage
*/datafiles
build/
dist/
*\.egg-info/
Ocsinventory-Unix-Agent*/
.directory
*_old\.*
activity.*
*.lprof
*.prof
*.pyprof
*kafka/tmp/
*.osm
*.ipynb_checkpoints
*.orig
*.jar
*.egg